html {
    margin: 0;
    height: 100vh;
    background-color: hsl(240, 78%, 98%);
    background-image: url("./bg-bottom.svg"), url("./bg-top.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
  }